mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}


.spinner {
  background: rgba($color: #000000, $alpha: 0.20);
  padding: 25px;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;

}

// .td-align {
//   display: flex;
//   align-items: center;

// }


