<!-- We can pass Observable to datasource -->
<mat-table [dataSource]="coursesList">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="_id" hidden="true">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item._id }}</mat-cell>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Course</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
  </ng-container>

  <!-- category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{ item.category }}
      <!-- add icone usando o PIPE usando para transformar um valor -->
      <mat-icon aria-hidden="false" aria-label="Course Category" fontIcon="">{{
        item.category | category
      }}</mat-icon>
    </mat-cell>
  </ng-container>
  <!-- action Column -->
  <ng-container matColumnDef="actions">
    <mat-card-header >
      <mat-header-cell *matHeaderCellDef>
        <button
          mat-mini-fab
          color="accent"
          aria-label="Add Course"
          (click)="onAdd()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
    </mat-card-header>

    <!-- tem que passar a lista -->
    <mat-cell *matCellDef="let item">
      <button mat-icon-button color="primary" aria-label="Update Course">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Delete Course">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- linha mat-row diz: para cada registro q temos no array Cria-se uma coluna q foi declarado  -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
