mat-card {
  max-width: 80%;
  height: fit-content;

  margin: 2em auto;
  text-align: center;
}

mat-card-content {
  width: fit-content;
  height: max-content;
}

.mat-form-father {
  width: 50vw;
  margin: 1%;
}

.lesson-father {
  display: flex;
  justify-content: space-around;

}
.lesson-father-errors {
  text-align: left;
}
.lesson {
  display: flex;
  width: 50vw;
  margin: 1%;
  justify-content: space-between;
}

.div-lesson-father-child {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  flex-wrap: wrap;

  .table-lesson-child {
    display: flex;
    .mat-form-lesson {
      width: 22.9vw;
      height: 10vh;

    }
    .mat-form-lesson.delete {
      display:flex;
      width: 27.1vw;
      text-overflow: clip;
      .div-button{

        align-items: center;
        display: flex;
        justify-content: flex-end;

      }
    }


    // .mat-form-lesson-min {
    //   width: 4vw;
    //   min-width: 3vw;
    //   height: 10vh;
    // }

  }
}


.mdc-card__actions  {
  justify-content: flex-end !important;
}

.mat-mdc-raised-button {
  margin: 0.3% !important;
}


.min-width {
width: 100%;
min-width: 150px;
min-height: 300px;
}

