/* You can add global styles to this file, and also import other style files */

@import 'node_modules/@angular/material/_theming.scss';
@include mat-core();


$custom-app-primary: mat-palette($mat-blue); //variavel da cor primaria
$custom-app-secondaty: mat-palette($mat-indigo, A200, A400, A700); //variavel da cor secudaria
$custom-app-warn: mat-palette($mat-red); //variavel da cor warning

/* Custom theme*/

$custom-theme: mat-light-theme($custom-app-primary,$custom-app-secondaty, $custom-app-warn);

/**Usarewmos um @include para falar para Angular qual temo queremos*/
@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
