.mat-table {
  overflow: auto;
  max-height: 600px;
  display: flex;
}
.action-column  {
  flex: 0 0 115px;
}

.action-column-header  {
  margin: 0 auto;
}

.button-header {
  padding: 0% !important;
  display: flex;
  justify-content: flex-end;
}
